@font-face {
	font-family: "Ubuntu-Regular";
	src: local("Ubuntu-Regular"), url("~@/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu-Medium";
	src: local("Ubuntu-Medium"), url("~@/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu-Bold";
	src: local("Ubuntu-Bold"), url("~@/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Ubuntu-Italic";
	src: local("Ubuntu-Italic"), url("~@/assets/fonts/Ubuntu-Italic.ttf") format("truetype");
}
