@import "~@/assets/scss/vars.scss";

html {
	font-size: 16px;
	color: $color-text;
}

body::-webkit-scrollbar {
	width: toRem(10);
}

body::-webkit-scrollbar-thumb {
	background-color: $color-white;
	outline: 1px solid $color-primary;
}

input {
	font-size: 16px;
}

.decoration {
	border-bottom: toRem(8) solid $color-primary;
}

.form__input.has__error {
	input {
		border: 2px solid $color-error;
	}
	span,
	label,
	input {
		color: $color-error;
	}
}
