$color-primary: #ffc10f;
$color-additional: #1d9eda;
$color-white: #fff;
$color-grey: #f8f5f2;
$color-text: $color-additional;
$color-hover: #0178c4;

$font-size: 14;
$regular: 400;
$medium: 500;
$bold: 700;
$italic: italic;

$transition: all 0.3s ease-in;
